<uib-pagination ng-model="filter.page" ng-change="filter.pageChanged()" total-items="filter.total" items-per-page="50" max-size="3" rotate="false" class="pagination-sm" boundary-links="true"></uib-pagination>
<ul>
    <div ng-repeat="res in filter.itemsOnPage">
        <div class="row jumbotron">
            <div class="col-xs-12">
                <h3><a href="{{res.collectionViewUrl}}">{{res.artistName}}</a></h3>
            </div>
            <div class="col-xs-6">
                <h5><span class="label label-success">{{res.collectionName}}</span></h5>
            </div>
            <div class="col-xs-6">
                <h5><span class="label label-success">{{res.wrapperType}}</span></h5>
            </div>
        </div>
    </div>
</ul>