<div class="container">
    <ol style="list-style: none">
        <li><button class="btn btn-danger btn-block" ng-click="filter.addSite('apple')">Apple</button></li>
        <li><button class="btn btn-danger btn-block" ng-click="filter.addSite('twitter')">Twitter</button></li>
        <li><button class="btn btn-danger btn-block" ng-click="filter.addSite('yahoo!')">Yahoo!</button></li>
        <li><button class="btn btn-danger btn-block" ng-click="filter.addSite('yelp')">Yelp</button></li>
        <li><button class="btn btn-danger btn-block" ng-click="filter.addSite('maps')">Maps</button></li>
    </ol>
</div>